h1 {
    text-align: center;
  }
  
  form {
    margin: 20px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"], input[type="number"], textarea {
    width: 300px;
    margin-bottom: 10px;
  }
  
  button {
    margin-right: 10px;
  }
  
  #bookList {
    margin: 20px;
  }